@using MedicalClinic.Features.Calendar
@model CalendarIndexViewModel

@{
    ViewBag.Title = "Calendar";
}

<div>
    @foreach (var appointment in Model.Appointments)
    {
        <div class="container mt-4">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">Appointment</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Date: @appointment.Date.ToString("MM.dd.yyyy")</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Time: @appointment.Date.TimeOfDay.ToString("hh\\:mm")</h6>
                    <p class="card-text">
                        @if (appointment.Doctor.HasValue)
                        {
                            <span>
                                <span>Doctor:</span>
                                <span>@appointment.Doctor.Value.FirstName</span>
                                <span>@appointment.Doctor.Value.LastName</span>
                            </span>
                        }
                        <br />
                        @if (appointment.Patient.HasValue)
                        {
                            <span>
                                <span>Patient:</span>
                                <span>@appointment.Patient.Value.FirstName</span>
                                <span>@appointment.Patient.Value.LastName</span>
                            </span>
                        }
                    </p>
                    <p>
                        Details: <br/>
                        @appointment.Reason
                    </p>
                </div>
                <div class="card-footer bg-light">
                    <a href="#" class="btn btn-outline-primary">View Details</a>
                </div>
            </div>
        </div>
    }
</div>

<button onclick="createAppointment('test', 'b0f7f4fb-c9bb-4897-abe7-504f447f742e', '2024-06-11')">
    Add
</button>

<script>
    async function createAppointment(reason, doctorId, date) {
        await fetch('/Calendar/CreateAppointment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                reason: reason,
                doctorId: doctorId,
                date: date
            })
        });
    }
</script>